In [1]:
import pandas as pd

In [5]:
pd.read_html("https://www.indexmundi.com/commodities/?commodity=urea&months=360")[1]

        Month   Price   Change
0    Jul 1992  120.00        -
1    Aug 1992  120.00    0.00%
2    Sep 1992  120.00    0.00%
3    Oct 1992  116.88   -2.60%
4    Nov 1992  107.50   -8.03%
..        ...     ...      ...
355  Feb 2022  744.17  -12.08%
356  Mar 2022  872.50   17.24%
357  Apr 2022  925.00    6.02%
358  May 2022  707.50  -23.51%
359  Jun 2022  690.00   -2.47%

[360 rows x 3 columns]